.switch {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .label {
    flex-grow: 1;
  }
  .switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    background-color: #333;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    // z-index: -2;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #444;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .switchState {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 5rem;
    padding: 0.5rem;
  }

  .switchSlider {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    height: calc(100% - 0.4rem);
    width: 5rem - 0.4rem;
    border-radius: 0.2rem;

    background-color: #555;

    transition: 0.3s;

    &.active {
      background-color: var(--color);
      left: calc(100% - 5rem + 0.2rem);
    }
  }
}
