.form {
  word-wrap: break-word;
  white-space: nowrap;

  input {
    padding: 0.7rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    flex: 1;
    width: 100%;
    transition: width 0.3s;
    background: #222;

    &.filled {
      width: calc(100% - var(--button-width) - 1rem);

      & + button {
        opacity: 1;
      }
    }
  }

  button {
    flex-shrink: 1;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    margin-left: 1rem;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;

    background-color: #d35400;

    &:hover {
      background-color: #c0392b;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.not_logged_in {
  color: #777;
}
