.hero {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  &-text {
    margin-left: 10rem;

    h1 {
      font-size: 3rem;
      font-weight: 100;
      margin-bottom: 1rem;
      color: #999;
    }

    h2 {
      font-size: 4rem;
      font-weight: 300;
      margin-bottom: 1rem;
      height: 5rem;

      display: flex;
      align-items: flex-start;
    }
  }
}

.hero-ima {
  display: inline-block;
}

.hero-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
  transform-origin: 0% 50%;

  &.scale {
    transform: scale(1.1);
  }

  &-1,
  &-2 {
    background-image: url("../../assets/pattern-tile.png");
    background-size: auto calc(100% / 15);
    height: 100%;
    width: 100%;
    animation: move 30s linear infinite;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
