.hero-ima {
  height: 5rem;
  overflow: hidden;
  margin-left: 1rem;
  transition: 0.5s width;
  width: calc(var(--width) * 1px);

  &.hidden {
    width: 0;
  }

  &-text {
    width: fit-content;
    height: 5rem;
    font-weight: 600;
    white-space: nowrap;
    transform: translateY(calc(var(--index) * -5rem));

    background: linear-gradient(90deg, var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
