.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(16px);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: visibility 0.3s ease, opacity 0.3s ease;

  &.opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    .current_image img {
      transform: scale(1);
    }

    .img_wrapper img {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease;
  z-index: 5;

  &:hover {
    color: #c0392b;
  }
}

.current_image {
  display: flex;
  width: 100%;
  height: calc(100% - 11rem);
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;

  button {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 3rem;
    height: 3rem;
    margin: 1rem;

    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    color: #fff;
    transition: 0.2s ease;
    border-radius: 0.5rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:disabled {
      cursor: context-menu;
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent;
    }
  }

  img {
    max-width: calc(100% - 10rem);
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transform: scale(0.8);
    transition: transform 0.3s ease;
  }
}

.slider_nav {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  padding: 0 1rem;
  overflow-x: scroll;
  max-width: 100vw;
  // overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .img_wrapper {
    padding: 1rem 0;
    opacity: 0.3;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    transition: 0.45s;
    height: 10rem;
    width: fit-content;
    overflow-y: hidden;
    flex-shrink: 0;

    &.active {
      opacity: 1;
    }

    &:active {
      transform: scale(0.96);
    }

    &:hover {
      opacity: 1;
    }
  }

  img {
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 8rem;

    opacity: 0;
    transform: translateY(3rem);
    transition: 0.3s ease;
    transition-delay: calc(var(--index) * 0.075s);
  }
}

@media screen and (max-width: 768px) {
  .current_image {
    height: calc(100% - 10rem);
    align-items: center;
    position: relative;

    img {
      margin: 0 auto;
      max-width: calc(100% - 2rem);
      max-height: 100%;
    }

    button {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin: 0 1rem;

      &:nth-child(3) {
        left: auto;
        right: 0;
      }
    }
  }

  .slider_nav {
    img {
      height: 7rem;
    }
  }
}
