.link {
  appearance: none;
  text-decoration: none;
  display: block;
}

.header {
  position: relative;
  overflow: hidden;
  transition: 0.2s ease;
  margin-bottom: 1rem;

  .banner_img {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 0.5rem;

    .date {
      align-items: flex-end;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #fff;

    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: 0.2s ease;

    &:hover {
      color: #e74c3c;
    }

    &:active {
      color: #c0392b;
    }
  }

  .tags {
    display: flex;
    margin-bottom: 0.5rem;
  }

  .description {
    color: #ffffffaa;
    padding-bottom: 0.5rem;
  }

  .footer {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    .comments {
      display: flex;
      align-items: center;
      flex-grow: 1;

      svg {
        margin-right: 0.5rem;
        font-size: 1.25rem;
      }
    }
  }
}

.user {
  display: flex;
  // align-items: center;
  color: #ffffffaa;

  margin-bottom: 0.5rem;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  .username {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .date {
    display: flex;
    align-items: center;
  }
}
