body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: #121212;
  color: #fff;
}

.waves {
  position: relative;
  aspect-ratio: 1440 / 160;

  svg {
    width: 100%;
    // height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(.5) translateY(-50%);
  }

  #wave-dark {
    width: 100%;
    top: .568rem;
  }
}

.background{
  background-color: #121212;
}

.container {
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
}