.button {
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  color: #f1c40f;
  transition: 0.3s;

  svg {
    margin-left: 0.5rem;
    transition: 0.3s transform;

    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    color: #d35400;
    svg {
      transform: translateX(0.5rem);
    }
  }

  &:active {
    color: #f1c40f;
  }
}
